footer {
	background-color: rgba($color--primary,1);
	i {
		color: $color--white;
		margin-right: $margin--small;
	}
	i.inactive {
	  cursor: not-allowed;
	  color: rgba($color--white,0.3);
	}
	.highlight {
		color: $color--highlight-light;
	}
	a {
		color: $color--white;
		text-decoration: underline 2px;
		&:hover {
			color: $color--highlight-light;
		}
		& i {
			transition: 0.3s;
			&:hover {
				color: $color--secondary;
			}	
		}
	}
}

.org--footer-inner {
	padding: $padding--general 0;
}

@media (min-width: $media-mobile) {
	footer .org--footer-inner {
		padding: $padding--general*2 0;
	}
}

@media (min-width: $media-tablet) {
	footer .org--footer-inner {
		padding: $padding--general*3 0;
	}
}

.org__unit-logo {
	& img {
		height:40px;
		margin-bottom: $margin--small;
	}
}

.org__unit {
	border-bottom: solid 1px $color--highlight-dark;
	border-top: solid 1px $color--highlight-dark;
	padding: $padding--general 0;
	margin: $margin--general 0;
	color: $color--white;

	& p {
		font-size: 1.8rem;
		line-height: 1.4;
		color: $color--white;
		font-weight: 400;
		letter-spacing: 0.01em;
		padding-right: $padding--general*2;
	}

	& section {
		margin-bottom: $margin--small*3;
		color: $color--white;
		& h4 {
	  		@include headingUC;
	  		color: $color--secondary;
	  		font-size: 0.9rem;
	  		margin-bottom: 12px;
	  	}
	  	& span {
	  		font-size: 1.2rem;
	  	}
	}
	& i {
		margin-right: $margin--general;
	}
}

.org__unit_copyright {
	& p.atm__copyright {
 		color: rgba($color--white,0.4);
	 	margin-top: $padding--small;
	  	font-size: 0.8rem;
	}
}
